{% extends "layout.html" %}
{% block title %}
Weather API
{% endblock %}
{% block content %}
<head>
    <style>
        p {text-align: center;}
        button {text-align: center;}
        div {text-align: center;}
    </style>
</head>

<body>
    <p>Weather API: Fourth Deliverable for Eddy, August 23, 2023</p>
    <form method="post" action="/weather_api/">
        <p>Search a location's weather in the US</p><br>
        <input type="text" name="weather_search" placeholder="Input location here"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
{% endblock %}