{% extends "layout.html" %}
{% block title %}
YouTube API: Third Deliverable for Eddy
{% endblock %}
{% block content %}
<head>
    <style>
        p {text-align: center;}
        button {text-align: center;}
        div {text-align: center;}
    </style>
</head>

<title>YouTube API: Third Deliverable for Eddy, August 16, 2023</title>
<p>YouTube API: Third Deliverable for Eddy, August 16, 2023</p>
<input id="userInput" type="text" placeholder="Search for YouTube Video">
<br>
<button id="executeButton" type="submit">Submit</button>
<button onclick="returnText()">Sample Submit</button>
<br>
<!-- embed video success -->
<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pBk4NYhWNMM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<div id="output"></div>

<script>
    function returnText(){
        let input = document.getElementById("userInput").value;
        // alert(input)
        return "Hello " + input
    }

    document.getElementById("executeButton").addEventListener("click", function() {
        // When button is clicked, send an HTTP request to the server
        // click button --> HTTP request to server side --> execute on Py --> return
        fetch('/execute-function')
        .then(Response => response.json())
        .then(data => {
            // Display the message in the 'output' div
            document.getElementById('output').textContent = data.message;
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
{% endblock %}